
<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <input type="text" name="location" placeholder="Location"><br><br>
    <input type="number" name="price" placeholder="Price"><br><br>
    <select class="" name="occupation">
      <option value="Student">Student</option>
      <option value="Employed">Employed</option>
    </select><br><br>
    <select class="" name="gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select><br><br>
    <select class="" name="singleOrSharing">
      <option value="Single">Single</option>
      <option value="Sharing">Sharing</option>
    </select><br><br>
    <!-- <input type="file" class="filestyle" name="roomPic" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Select Room Image"><br><br> -->
    <textarea class="form-control" name="content" rows="5" cols="30" placeholder="Enter room description"></textarea><br><br>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

<%- include("partials/footer"); -%>
